body {
    margin: 0;
    font-family: Arial;
    background: #0b0b0b;
    color: white;
    overflow: hidden;
}

/* PARTICLES /
#particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/ SCREENS /
#loginPage, #profilePage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: opacity 0.4s ease;
}

/ LOGIN /
#loginPage {
    z-index: 2;
    background: #0b0b0b;
}

/ PROFILE /
#profilePage {
    z-index: 1;
    background: #0b0b0b;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

#profilePage.active {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

/ GLASS /
.container {
    backdrop-filter: blur(15px);
    background: rgba(20,20,20,0.6);
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

/ LOGO /
.logo span {
    color: #7CFC00;
    text-shadow: 0 0 10px #7CFC00;
}

/ INPUT /
input {
    padding: 10px;
    width: 220px;
    border-radius: 6px;
    border: none;
    margin-top: 15px;
}

/ BUTTON /
button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #7CFC00;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px #7CFC00;
}

/ PROFILE /
.pfp {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px #7CFC00;
}

/ USERNAME /
.username {
    font-size: 22px;
    margin-top: 10px;
    text-shadow: 0 0 10px #7CFC00;
}

/ BADGES /
.badge {
    width: 22px;
    margin: 3px;
}
.badge:hover::after {
    content: attr(data-name);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    padding: 4px 6px;
    font-size: 10px;
    border-radius: 4px;
}

/ LINKS /
.links a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    color: #7CFC00;
    text-decoration: none;
}
.links a:hover {
    text-shadow: 0 0 10px #7CFC00;
}
.links img {
    width: 18px;
    margin-right: 8px;
}

hr {
    border: 1px solid #222;
}

/ PLAYER */
.player {
    margin-top: 15px;
}
.player button {
    background: none;
    color: #7CFC00;
    font-size: 18px;
}
.player input {
    width: 100%;
    height: 4px;
    background: #222;
}